<h1>We're Sorry</h1>
<p>Your emergency responder division, <strong><%= @organization.name %></strong>, has been rejected.</p>
<p>If you believe this was a mistake, please contact our support team.</p>
