<p>Hello <%= @respondent.name %>,</p>
<p>Your emergency respondent account has been verified by the super admin. You can now log in to the system with the following credentials:</p>
<ul>
  <li><strong>Email:</strong> <%= @respondent.email %></li>
  <li><strong>Password:</strong> <%= @password %></li>
</ul>
<p>Please change your password after your first login for security purposes.</p>
<p>Thank you!</p>