<h1>Welcome, <%= @respondent.name %>!</h1>
<p>Your emergency respondent account has been verified by the Super Admin.</p>
<p>You can now sign in using the following credentials:</p>
<ul>
  <li><strong>Email:</strong> <%= @respondent.email %></li>
  <li><strong>Password:</strong> <%= @temp_password %></li>
</ul>
<p>Please sign in at <%= link_to "this link", new_user_session_url %> and change your password after logging in.</p>
<p>Thank you!</p>