<h1>Pending Emergency Respondents</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_respondents.each do |respondent| %>
      <tr>
        <td><%= respondent.name %></td>
        <td><%= respondent.email %></td>
        <td><%= link_to "Verify", verify_admin_emergency_respondent_path(respondent), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>